</div></div><footer class="fixed-footer m-fixed-footer">
<div class="wrapper wrapper_full">
	<div class="product-brief__menu-container">
		<ul class="product-brief__menu">
			<li class="product-brief__menu-item">
				<a class="product-brief__menu-item-link" href="/how-to-order">Как сделать заказ</a>
			</li>
		</ul>
	</div>
	<div class="fixed-footer__right-container">
		<div class="user-counters">
			<div class="user-counters__item">
				<a class="user-counters__item-link" href="index.php?route=product/compare">
					<i class="user-counters__item-img fa fa fa-exchange"></i>
					Сравнить</a>
			</div>
			<div class="user-counters__item">
				<a class="user-counters__item-link" href="index.php?route=checkout/cart">
					<i class="user-counters__item-img fa fa-shopping-basket"></i>
					Корзина</a>
			</div>
		</div>
		<button class="btn btn-primary btn-block scroll-up-button" id="scroll-up-button" title="В начало страницы">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewbox="0 0 16 16">
				<path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
			</svg>
		</button>
	</div>
</div></footer><button class="btn btn-primary affix" data-toggle="modal" data-target="#question-dialog">
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-question" viewbox="0 0 16 16">
	<path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
</svg>
Задать вопрос</button><dialog id="question-dialog" class="modal-custom">
<button class="dialog-close-btn" data-dismiss="modal" type="button">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewbox="0 0 16 16">
		<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
	</svg>
</button>
<div class="dialog-title">Задать вопрос</div>
<div class="dialog-sub-title">Мы позвоним Вам в ближайшее время</div>
<form id="w2" action="/callback/question" method="post" data-pjax="0">
	<input type="hidden" name="_csrf-frontend" value="gORys5pcU3Y3_f5RvCGfSaeL7TqOMKQiB5WO0yq9bfvjpiGe3goXMg7OsSLpV_ItlsneDLZ11mxtuO-4RdwmvQ==">
	<div class="form-group">
		<div class="form-group field-questionform-phone required">
			<label class="required-label" for="questionform-phone">Номер телефона</label>
			<input type="text" id="questionform-phone" class="form-control" name="QuestionForm[phone]" placeholder="+7 (776) 996-00-70" aria-required="true" data-plugin-inputmask="inputmask_8b2a4bfb">
			<div class="help-block"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-group field-questionform-fio required">
			<label class="required-label" for="questionform-fio">ФИО</label>
			<input type="text" id="questionform-fio" class="form-control" name="QuestionForm[fio]" placeholder="Иванов Иван Иванович" aria-required="true">
			<div class="help-block"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-group field-questionform-question">
			<label class="control-label" for="questionform-question">Вопрос</label>
			<textarea id="questionform-question" class="form-control" name="QuestionForm[question]" placeholder="Хочу купить товар (название, код)"></textarea>
			<div class="help-block"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-group field-questionform-captcha"><input type="hidden" id="questionform-captcha" class="form-control" name="QuestionForm[captcha]">
			<div class="help-block"></div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary btn-block">Отправить</button>
</form></dialog><dialog id="callback-dialog" class="modal-custom">
<button class="dialog-close-btn" data-dismiss="modal" type="button">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewbox="0 0 16 16">
		<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
	</svg>
</button>
<div class="dialog-title">Заказ на обратный звонок</div>
<div class="dialog-sub-title">Мы позвоним Вам в ближайшее время</div>
<form id="w3" action="/callback" method="post" data-pjax="0">
	<input type="hidden" name="_csrf-frontend" value="gORys5pcU3Y3_f5RvCGfSaeL7TqOMKQiB5WO0yq9bfvjpiGe3goXMg7OsSLpV_ItlsneDLZ11mxtuO-4RdwmvQ==">
	<div class="form-group">
		<div class="form-group field-callbackform-phone required">
			<label class="required-label" for="callbackform-phone">Номер телефона</label>
			<input type="text" id="callbackform-phone" class="form-control" name="CallbackForm[phone]" placeholder="+7 (776) 996-00-70" aria-required="true" data-plugin-inputmask="inputmask_8b2a4bfb">
			<div class="help-block"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-group field-callbackform-fio required">
			<label class="required-label" for="callbackform-fio">ФИО</label>
			<input type="text" id="callbackform-fio" class="form-control" name="CallbackForm[fio]" placeholder="Иванов Иван Иванович" aria-required="true">
			<div class="help-block"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-group field-callbackform-question">
			<label class="control-label" for="callbackform-question">Вопрос</label>
			<textarea id="callbackform-question" class="form-control" name="CallbackForm[question]" placeholder="Хочу купить товар (название, код)"></textarea>
			<div class="help-block"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-group field-callbackform-captcha"><input type="hidden" id="callbackform-captcha" class="form-control" name="CallbackForm[captcha]">
			<div class="help-block"></div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary btn-block">Отправить</button>
</form></dialog><dialog id="feedback-dialog" class="modal-custom">
<button class="dialog-close-btn" data-dismiss="modal" type="button">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewbox="0 0 16 16">
		<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
	</svg>
</button>
<div class="dialog-title">Обратный звонок</div>
<div class="dialog-sub-title">Мы позвоним Вам в ближайшее время</div>
<form id="w4" action="/callback/feedback" method="post" data-pjax="0">
	<input type="hidden" name="_csrf-frontend" value="gORys5pcU3Y3_f5RvCGfSaeL7TqOMKQiB5WO0yq9bfvjpiGe3goXMg7OsSLpV_ItlsneDLZ11mxtuO-4RdwmvQ==">
	<div class="form-group">
		<div class="form-group field-feedbackform-phone required">
			<label class="required-label" for="feedbackform-phone">Номер телефона</label>
			<input type="text" id="feedbackform-phone" class="form-control" name="FeedbackForm[phone]" placeholder="+7 (776) 996-00-70" aria-required="true" data-plugin-inputmask="inputmask_8b2a4bfb">
			<div class="help-block"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-group field-feedbackform-fio required">
			<label class="required-label" for="feedbackform-fio">ФИО</label>
			<input type="text" id="feedbackform-fio" class="form-control" name="FeedbackForm[fio]" placeholder="Иванов Иван Иванович" aria-required="true">
			<div class="help-block"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-group field-feedbackform-question">
			<label class="control-label" for="feedbackform-question">Вопрос</label>
			<textarea id="feedbackform-question" class="form-control" name="FeedbackForm[question]" placeholder="Хочу купить товар (название, код)"></textarea>
			<div class="help-block"></div>
		</div>
	</div>
	<div class="form-group">
		<div class="form-group field-feedbackform-captcha"><input type="hidden" id="feedbackform-captcha" class="form-control" name="FeedbackForm[captcha]">
			<div class="help-block"></div>
		</div>
	</div>
	<button type="submit" class="btn btn-primary btn-block">Отправить</button>
</form></dialog><div class="popup-top" id="productsComparison">
<div class="popup-top__inner">
	<div class="popup-top__content">
		<div class="popup-top__container-image">
			<img class="popup-top__image" id="productsComparisonImage" src="" alt="">
		</div>
		<div class="popup-top__container-text">
			<div class="popup-top__header" id="productsComparisonHeader"></div>
			<div id="productsComparisonText"></div>
		</div>
	</div>
	<div class="popup-top__container-btn">
		<a class="btn btn-primary popup-top__btn" href="index.php?route=product/compare">Сравнить</a>
	</div>
	<button class="popup-top__close-btn" type="button" id="productsComparisonCloseBtn">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewbox="0 0 16 16">
			<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
		</svg>
	</button>
</div></div> <script src="./catalog/view/theme/kg/assets/resources/index.js"></script><style>
.footer_color {
	background-color: #303030;
	color: #ccc;
}
@media screen and (max-width: 768px) {

	.tow {
		display: block;
	}
}</style><footer class="footer_color">
<div class="container">
	<div class="row tow">
		{% if informations %}
			<div class="col-sm-3">
				<h5>{{ text_information }}</h5>
				<ul class="list-unstyled">
					{% for information in informations %}
						<li>
							<a href="{{ information.href }}">{{ information.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		<div class="col-sm-3">
			<h5>{{ text_service }}</h5>
			<ul class="list-unstyled">
				<li>
					<a href="{{ contact }}">{{ text_contact }}</a>
				</li>
				<li>
					<a href="{{ return }}">{{ text_return }}</a>
				</li>
				<li>
					<a href="{{ sitemap }}">{{ text_sitemap }}</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-3">
			<h5>{{ text_extra }}</h5>
			<ul class="list-unstyled">
				<li>
					<a href="{{ manufacturer }}">{{ text_manufacturer }}</a>
				</li>
				<li>
					<a href="{{ voucher }}">{{ text_voucher }}</a>
				</li>
				<li>
					<a href="{{ affiliate }}">{{ text_affiliate }}</a>
				</li>
				<li>
					<a href="{{ special }}">{{ text_special }}</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-3">
			<h5>{{ text_account }}</h5>
			<ul class="list-unstyled">
				<li>
					<a href="{{ account }}">{{ text_account }}</a>
				</li>
				<li>
					<a href="{{ order }}">{{ text_order }}</a>
				</li>
				<li>
					<a href="{{ wishlist }}">{{ text_wishlist }}</a>
				</li>
				<li>
					<a href="{{ newsletter }}">{{ text_newsletter }}</a>
				</li>
			</ul>
		</div>
	</div>
	<hr>
	<p>{{ powered }}</p>
</div></footer> <script src="./catalog/view/javascript/common.js"></script> <script src="./catalog/view/javascript/qrcode.js"></script> <script src="{{ script }}" type="text/javascript"></script>{% for style in styles %}<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/> {% endfor %}{% for script in scripts %}
 <script src="{{ script }}" type="text/javascript"></script>{% endfor %}<!--
				OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
				Please donate via PayPal to donate@opencart.com
				//--></body></html>

