<div id="cart" class="btn-group btn-block">
	<button type="button" data-toggle="dropdown" data-loading-text="{{ text_loading }}" class="btn btn-inverse btn-block btn-lg dropdown-toggle">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewbox="0 0 16 16">
			<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
		</svg>
		<span id="cart-total" style="left: -72%;">{{ text_items }}</span>
	</button>
	<ul class="dropdown-menu pull-right">
		{% if products or vouchers %}
			<li>
				<table class="table table-striped">
					{% for product in products %}
						<tr>
							<td class="text-center">
								{% if product.thumb %}
									<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail"/></a>
								{% endif %}
							</td>
							<td class="text-left">
								<a href="{{ product.href }}">{{ product.name }}</a>
								{% if product.option %}
									{% for option in product.option %}
										<br/>
										-
										<small>{{ option.name }}
											{{ option.value }}</small>
									{% endfor %}
								{% endif %}
								{% if product.recurring %}
									<br/>
									-
									<small>{{ text_recurring }}
										{{ product.recurring }}</small>
								{% endif %}
							</td>
							<td class="text-right">x
								{{ product.quantity }}</td>
							<td class="text-right">{{ product.total }}</td>
							<td class="text-center">
								<button type="button" onclick="cart.remove('{{ product.cart_id }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewbox="0 0 16 16">
										<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
									</svg>
								</button>
							</td>
						</tr>
					{% endfor %}
					{% for voucher in vouchers %}
						<tr>
							<td class="text-center"></td>
							<td class="text-left">{{ voucher.description }}</td>
							<td class="text-right">x&nbsp;1</td>
							<td class="text-right">{{ voucher.amount }}</td>
							<td class="text-center text-danger">
								<button type="button" onclick="voucher.remove('{{ voucher.key }}');" title="{{ button_remove }}" class="btn btn-danger btn-xs">
									<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewbox="0 0 16 16">
										<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
									</svg>
								</button>
							</td>
						</tr>
					{% endfor %}
				</table>
			</li>
			<li>
				<div>
					<table class="table table-bordered">
						{% for total in totals %}
							<tr>
								<td class="text-right">
									<strong>{{ total.title }}</strong>
								</td>
								<td class="text-right">{{ total.text }}</td>
							</tr>
						{% endfor %}
					</table>
					<p class="text-right">
						<a href="{{ cart }}">
							<strong>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewbox="0 0 16 16">
									<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
								</svg>
								{{ text_cart }}</strong>
						</a>&nbsp;&nbsp;&nbsp;<a href="{{ checkout }}">
							<strong>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-90deg-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M14.854 4.854a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 4H3.5A2.5 2.5 0 0 0 1 6.5v8a.5.5 0 0 0 1 0v-8A1.5 1.5 0 0 1 3.5 5h9.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4z"/>
</svg> 
								{{ text_checkout }}</strong>
						</a>
					</p>
				</div>
			</li>
		{% else %}
			<li>
				<p class="text-center">{{ text_empty }}</p>
			</li>
		{% endif %}
	</ul>
</div>
