</div></div><footer>
<div class="container">
	<div class="row">
		{% if informations %}
			<div class="col-sm-3">
				<h5>{{ text_information }}</h5>
				<ul class="list-unstyled">
					{% for information in informations %}
						<li>
							<a href="{{ information.href }}">{{ information.title }}</a>
						</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}
		<div class="col-sm-3">
			<h5>{{ text_service }}</h5>
			<ul class="list-unstyled">
				<li>
					<a href="{{ contact }}">{{ text_contact }}</a>
				</li>
				<li>
					<a href="{{ return }}">{{ text_return }}</a>
				</li>
				<li>
					<a href="{{ sitemap }}">{{ text_sitemap }}</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-3">
			<h5>{{ text_extra }}</h5>
			<ul class="list-unstyled">
				<li>
					<a href="{{ manufacturer }}">{{ text_manufacturer }}</a>
				</li>
				<li>
					<a href="{{ voucher }}">{{ text_voucher }}</a>
				</li>
				<li>
					<a href="{{ affiliate }}">{{ text_affiliate }}</a>
				</li>
				<li>
					<a href="{{ special }}">{{ text_special }}</a>
				</li>
			</ul>
		</div>
		<div class="col-sm-3">
			<h5>{{ text_account }}</h5>
			<ul class="list-unstyled">
				<li>
					<a href="{{ account }}">{{ text_account }}</a>
				</li>
				<li>
					<a href="{{ order }}">{{ text_order }}</a>
				</li>
				<li>
					<a href="{{ wishlist }}">{{ text_wishlist }}</a>
				</li>
				<li>
					<a href="{{ newsletter }}">{{ text_newsletter }}</a>
				</li>
			</ul>
		</div>
	</div>
	<hr>
	<p>{{ powered }}</p>
</div></footer>{% for style in styles %}<link href="{{ style.href }}" type="text/css" rel="{{ style.rel }}" media="{{ style.media }}"/>{% endfor %}{% for script in scripts %}
 <script src="{{ script }}" type="text/javascript"></script>{% endfor %}<!--
									OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
									Please donate via PayPal to donate@opencart.com
								//--> <script type="text/javascript">let counter1712587543661403171c556 = function () {
											window.removeEventListener('mousemove', counter1712587543661403171c556);
											var _tmr = window._tmr || (window._tmr = []);
											_tmr.push({ id: "2710577", type: "pageView", start: (new Date()).getTime() });
											(function (d, w, id) {
												if (d.getElementById(id)) return;
												var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
												ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
												var f = function () { var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s); };
												if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
											})(document, window, "topmailru-code");
										}; window.addEventListener('mousemove', counter1712587543661403171c556);</script><noscript>
<div style="position:absolute;left:-10000px;">
	<img src="//top-fwz1.mail.ru/counter?id=2710577;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru"/></div></noscript> <script type="text/javascript">let counter1712587543661403171c55b = function () {
													window.removeEventListener('mousemove', counter1712587543661403171c55b);
													(function (m, e, t, r, i, k, a) {
														m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
														m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
													})
														(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
								
													ym(88811134, "init", {
														clickmap: true,
														trackLinks: true,
														accurateTrackBounce: true,
														webvisor: true
													});
												}; window.addEventListener('mousemove', counter1712587543661403171c55b);</script><noscript>
<div><img src="https://mc.yandex.ru/watch/88811134" style="position:absolute; left:-9999px;" alt/></div></noscript></div></div><div class="fixed-footer m-fixed-footer"><div class="wrapper wrapper_full"><div class="product-brief__menu-container">
<ul class="product-brief__menu">
	<li class="product-brief__menu-item">
		<a class="product-brief__menu-item-link" href="/how-to-order">Как сделать
																																															заказ</a>
	</li>
</ul></div><div class="fixed-footer__right-container">
<div class="user-counters">
	<div class="user-counters__item">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewbox="0 0 16 16">
			<path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
		</svg>
		<a class="user-counters__item-link" href="/products/comparison/27">Сравнить</a>
	</div>
	<div class="user-counters__item">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-fill" viewbox="0 0 16 16">
			<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
		</svg>
		<a class="user-counters__item-link" href="./index.php?route=checkout/cart">Корзина</a>

	</div>
</div>
<button class="btn btn-primary btn-block scroll-up-button" id="scroll-up-button" title="В начало страницы">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up" viewbox="0 0 16 16">
		<path fill-rule="evenodd" d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5z"/>
	</svg>
</button></div></div></div><button class="btn btn-primary affix" data-toggle="modal" data-target="#question-dialog"><i class="fa fa-question-circle"></i>Задать вопрос</button><dialog id="question-dialog" class="modal-custom"><button class="dialog-close-btn" data-dismiss="modal" type="button"><img src="/img/cross.svg" alt/></button><div class="dialog-title">Задать вопрос</div><div class="dialog-sub-title">Мы позвоним Вам в ближайшее время</div><form id="w2" action="/callback/question" method="post" data-pjax="0"><input type="hidden" name="_csrf-frontend" value="QtTH-MugPfCnhTjWUh3rc014TQe5405TuNZJeN55Z4on4bS8g_N-m9HhSbcYcYo9GxYhQoiHICn8sAIs7SYqvQ=="><div class="form-group">
<div class="form-group field-questionform-phone required">
	<label class="required-label" for="questionform-phone">Номер телефона</label>
	<input type="text" id="questionform-phone" class="form-control" name="QuestionForm[phone]" placeholder="+7 (999) 999-99-99" aria-required="true" data-plugin-inputmask="inputmask_8b2a4bfb">
	<div class="help-block"></div>
</div></div><div class="form-group">
<div class="form-group field-questionform-fio required">
	<label class="required-label" for="questionform-fio">ФИО</label>
	<input type="text" id="questionform-fio" class="form-control" name="QuestionForm[fio]" placeholder="Иванов Иван Иванович" aria-required="true">
	<div class="help-block"></div>
</div></div><div class="form-group">
<div class="form-group field-questionform-question">
	<label class="control-label" for="questionform-question">Вопрос</label>
	<textarea id="questionform-question" class="form-control" name="QuestionForm[question]" placeholder="Хочу купить товар (название, код)"></textarea>
	<div class="help-block"></div>
</div></div><div class="form-group">
<div class="form-group field-questionform-captcha"><input type="hidden" id="questionform-captcha" class="form-control" name="QuestionForm[captcha]">
	<div class="help-block"></div>
</div></div><button type="submit" class="btn btn-primary btn-block">Отправить</button></form></dialog><dialog id="callback-dialog" class="modal-custom"><button class="dialog-close-btn" data-dismiss="modal" type="button"><img src="https://www.hikvision-shop.ru/img/cross.svg" alt/></button><div class="dialog-title">Заказ на обратный звонок</div><div class="dialog-sub-title">Мы позвоним Вам в ближайшее время</div><form id="w3" action="/callback" method="post" data-pjax="0"><input type="hidden" name="_csrf-frontend" value="QtTH-MugPfCnhTjWUh3rc014TQe5405TuNZJeN55Z4on4bS8g_N-m9HhSbcYcYo9GxYhQoiHICn8sAIs7SYqvQ=="><div class="form-group">
<div class="form-group field-callbackform-phone required">
	<label class="required-label" for="callbackform-phone">Номер телефона</label>
	<input type="text" id="callbackform-phone" class="form-control" name="CallbackForm[phone]" placeholder="+7 (999) 999-99-99" aria-required="true" data-plugin-inputmask="inputmask_8b2a4bfb">
	<div class="help-block"></div>
</div></div><div class="form-group">
<div class="form-group field-callbackform-fio required">
	<label class="required-label" for="callbackform-fio">ФИО</label>
	<input type="text" id="callbackform-fio" class="form-control" name="CallbackForm[fio]" placeholder="Иванов Иван Иванович" aria-required="true">
	<div class="help-block"></div>
</div></div><div class="form-group">
<div class="form-group field-callbackform-question">
	<label class="control-label" for="callbackform-question">Вопрос</label>
	<textarea id="callbackform-question" class="form-control" name="CallbackForm[question]" placeholder="Хочу купить товар (название, код)"></textarea>
	<div class="help-block"></div>
</div></div><div class="form-group">
<div class="form-group field-callbackform-captcha"><input type="hidden" id="callbackform-captcha" class="form-control" name="CallbackForm[captcha]">
	<div class="help-block"></div>
</div></div><button type="submit" class="btn btn-primary btn-block">Отправить</button></form></dialog><dialog id="feedback-dialog" class="modal-custom"><button class="dialog-close-btn" data-dismiss="modal" type="button"><img src="/img/cross.svg" alt/></button><div class="dialog-title">Обратный звонок</div><div class="dialog-sub-title">Мы позвоним Вам в ближайшее время</div><form id="w4" action="/callback/feedback" method="post" data-pjax="0"><input type="hidden" name="_csrf-frontend" value="QtTH-MugPfCnhTjWUh3rc014TQe5405TuNZJeN55Z4on4bS8g_N-m9HhSbcYcYo9GxYhQoiHICn8sAIs7SYqvQ=="><div class="form-group">
<div class="form-group field-feedbackform-phone required">
	<label class="required-label" for="feedbackform-phone">Номер телефона</label>
	<input type="text" id="feedbackform-phone" class="form-control" name="FeedbackForm[phone]" placeholder="+7 (999) 999-99-99" aria-required="true" data-plugin-inputmask="inputmask_8b2a4bfb">
	<div class="help-block"></div>
</div></div><div class="form-group">
<div class="form-group field-feedbackform-fio required">
	<label class="required-label" for="feedbackform-fio">ФИО</label>
	<input type="text" id="feedbackform-fio" class="form-control" name="FeedbackForm[fio]" placeholder="Иванов Иван Иванович" aria-required="true">
	<div class="help-block"></div>
</div></div><div class="form-group">
<div class="form-group field-feedbackform-question">
	<label class="control-label" for="feedbackform-question">Вопрос</label>
	<textarea id="feedbackform-question" class="form-control" name="FeedbackForm[question]" placeholder="Хочу купить товар (название, код)"></textarea>
	<div class="help-block"></div>
</div></div><div class="form-group">
<div class="form-group field-feedbackform-captcha"><input type="hidden" id="feedbackform-captcha" class="form-control" name="FeedbackForm[captcha]">
	<div class="help-block"></div>
</div></div><button type="submit" class="btn btn-primary btn-block">Отправить</button></form></dialog><div class="popup-top" id="productsComparison"><div class="popup-top__inner"><div class="popup-top__content">
<div class="popup-top__container-image">
	<img class="popup-top__image" id="productsComparisonImage" src alt></div>
<div class="popup-top__container-text">
	<div class="popup-top__header" id="productsComparisonHeader"></div>
	<div id="productsComparisonText"></div>
</div></div><div class="popup-top__container-btn">
<a class="btn btn-primary popup-top__btn" href="/products/comparison/27">Сравнить</a></div><button class="popup-top__close-btn" type="button" id="productsComparisonCloseBtn"><img src="/img/cross.svg" alt/></button></div></div> <script src="./catalog/view/theme/shop/assets/resources/index.js"></script> <script>
														jQuery(($) => {
															const reCaptchaSiteKey = "6Lf0YdUmAAAAAJf2_lxt2sswhTSiBGnzp0ffbgb-";
													
															// Initialize PJAX for product links
															$(document).pjax("#products-pjax a", {
																push: true,
																replace: false,
																timeout: 10000,
																scrollTo: false,
																container: "#products-pjax"
															});
													
															// Handle form submission with PJAX
															$(document).off("submit", "#products-pjax form[data-pjax]").on("submit", "#products-pjax form[data-pjax]", (event) => {
																$.pjax.submit(event, {
																	push: true,
																	replace: false,
																	timeout: 10000,
																	scrollTo: false,
																	container: "#products-pjax"
																});
															});
													
															// Initialize reCAPTCHA
															initReCaptcha();
													
															// Function to initialize reCAPTCHA
															function initReCaptcha() {
																$(document).off('DOMContentLoaded', initReCaptcha);
																const script = document.createElement('script');
																script.setAttribute('src', `//www.google.com/recaptcha/api.js?render=${reCaptchaSiteKey}`);
																document.head.appendChild(script);
																script.onload = () => {
																	window.reCaptchaFunctions.forEach(func => func());
																};
															}
													
															// Initialize reCAPTCHA token
															function initSetReCaptchaToken(action, id) {
																const setReCaptchaToken = () => {
																	grecaptcha.ready(() => {
																		grecaptcha.execute(reCaptchaSiteKey, { action: action }).then((token) => {
																			$(`#${id}`).val(token);
																			const jsCallback = ""; // Consider removing this line if unused
																			if (jsCallback) {
																				eval(`(${jsCallback})(token)`);
																			}
																		});
																	});
																}
																setReCaptchaToken();
																setInterval(setReCaptchaToken, 110000);
															}
													
															// Initialize reCAPTCHA for different forms
															const forms = [
																{ action: "/login", id: "loginformmodal-captcha" },
																{ action: "/callback/question", id: "questionform-captcha" },
																{ action: "/callback", id: "callbackform-captcha" },
																{ action: "/callback/feedback", id: "feedbackform-captcha" }
															];
															forms.forEach(form => {
																initSetReCaptchaToken(form.action, form.id);
															});
													
															// Activate Yii active forms
															$('#w0').yiiActiveForm([{ "id": "loginformmodal-email", "name": "email", "container": ".field-loginformmodal-email", "input": "#loginformmodal-email", "validate": function (attribute, value, messages, deferred, $form) { yii.validation.required(value, messages, { "message": "Необходимо заполнить «Email»." }); } }, { "id": "loginformmodal-password", "name": "password", "container": ".field-loginformmodal-password", "input": "#loginformmodal-password", "validate": function (attribute, value, messages, deferred, $form) { yii.validation.required(value, messages, { "message": "Необходимо заполнить «Пароль»." }); } }]);
															$('#w1').yiiActiveForm([{ "id": "passwordresetrequestform-email", "name": "email", "container": ".field-passwordresetrequestform-email", "input": "#passwordresetrequestform-email", "validate": function (attribute, value, messages, deferred, $form) { yii.validation.required(value, messages, { "message": "Необходимо заполнить «Электронная почта»." }); value = yii.validation.trim($form, attribute, [], value); yii.validation.email(value, messages, { "pattern": /^[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?$/, "fullPattern": /^[^@]*<[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+\/=?^_`{|}~-]+)*@(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?>$/, "allowName": false, "message": "Значение «Электронная почта» не является правильным email адресом.", "enableIDN": false, "skipOnEmpty": 1 }); } }]);
															$("#questionform-phone").inputmask(inputmask_8b2a4bfb);
															$('#w2').yiiActiveForm([{ "id": "questionform-phone", "name": "phone", "container": ".field-questionform-phone", "input": "#questionform-phone", "validate": function (attribute, value, messages, deferred, $form) { value = yii.validation.trim($form, attribute, [], value); yii.validation.required(value, messages, { "message": "Необходимо заполнить «Номер телефона»." }); yii.validation.regularExpression(value, messages, { "pattern": /^\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}$/, "not": false, "message": "Номер телефона должен быть в формате +7 (XXX) XXX-XX-XX", "skipOnEmpty": 1 }); } }, { "id": "questionform-fio", "name": "fio", "container": ".field-questionform-fio", "input": "#questionform-fio", "validate": function (attribute, value, messages, deferred, $form) { value = yii.validation.trim($form, attribute, [], value); yii.validation.required(value, messages, { "message": "Необходимо заполнить «ФИО»." }); } }]);
															$("#callbackform-phone").inputmask(inputmask_8b2a4bfb);
															$('#w3').yiiActiveForm([{ "id": "callbackform-phone", "name": "phone", "container": ".field-callbackform-phone", "input": "#callbackform-phone", "validate": function (attribute, value, messages, deferred, $form) { value = yii.validation.trim($form, attribute, [], value); yii.validation.required(value, messages, { "message": "Необходимо заполнить «Номер телефона»." }); yii.validation.regularExpression(value, messages, { "pattern": /^\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}$/, "not": false, "message": "Номер телефона должен быть в формате +7 (XXX) XXX-XX-XX", "skipOnEmpty": 1 }); } }, { "id": "callbackform-fio", "name": "fio", "container": ".field-callbackform-fio", "input": "#callbackform-fio", "validate": function (attribute, value, messages, deferred, $form) { value = yii.validation.trim($form, attribute, [], value); yii.validation.required(value, messages, { "message": "Необходимо заполнить «ФИО»." }); } }]);
															$("#feedbackform-phone").inputmask(inputmask_8b2a4bfb);
															$('#w4').yiiActiveForm([{ "id": "feedbackform-phone", "name": "phone", "container": ".field-feedbackform-phone", "input": "#feedbackform-phone", "validate": function (attribute, value, messages, deferred, $form) { value = yii.validation.trim($form, attribute, [], value); yii.validation.required(value, messages, { "message": "Необходимо заполнить «Номер телефона»." }); yii.validation.regularExpression(value, messages, { "pattern": /^\+7\s\(\d{3}\)\s\d{3}-\d{2}-\d{2}$/, "not": false, "message": "Номер телефона должен быть в формате +7 (XXX) XXX-XX-XX", "skipOnEmpty": 1 }); } }, { "id": "feedbackform-fio", "name": "fio", "container": ".field-feedbackform-fio", "input": "#feedbackform-fio", "validate": function (attribute, value, messages, deferred, $form) { value = yii.validation.trim($form, attribute, [], value); yii.validation.required(value, messages, { "message": "Необходимо заполнить «ФИО»." }); } }]);
														});
													</script> <script src="./catalog/view/javascript/common.js"></script> <script src="./catalog/view/javascript/qrcode.js"></script> <script src="{{ script }}" type="text/javascript"></script></body></html>
