{# {% if categories %}
<div class="container">
  <nav id="menu" class="navbar">
    <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
      <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
    </div>
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        {% for category in categories %}
        {% if category.children %}
        <li class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="dropdown-menu">z
            <div class="dropdown-inner"> {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
              <ul class="list-unstyled">
                {% for child in children %}
                <li><a href="{{ child.href }}">{{ child.name }}</a></li>
                {% endfor %}
              </ul>
              {% endfor %}</div>
            <a href="{{ category.href }}" class="see-all">{{ text_all }} {{ category.name }}</a> </div>
        </li>
        {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </nav>
</div>
{% endif %}  #}


<div class="category-menu-title">
	<svg xmlns="http://www.w3.org/2000/svg" style="color: fff;" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
</svg>
	{{text_category}}</div>
<ul class="category-menu-nav">
	{% for category in categories %}
		{% if category.children %}
			<div class="category-item" style="position: relative">
				<div class="category-item__inner">
					<a class="category-link active" href="{{ category.href }}">{{ category.name }}</a>
					<div class="category-popup-sub-menu category-popup-sub-menu_main">
						<div class="category-popup-sub-menu__inner">
							<div class="category-popup-sub-menu__item">
								<div class="category-popup-sub-menu__link-wrapper">
									{% for child in category.children %}
										<a class="subcategory-link" href="{{ child.href }}">{{ child.name }}</a><br>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% else %}
			<a class="category-link active" href="{{ category.href }}">{{ category.name }}</a>
		{% endif %}
	{% endfor %}
</ul>
