{{ header }}
<div id="checkout-cart" class="container containers">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li>
				<a style="" class="breadcrumb-item" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
			</li>
		{% endfor %}
	</ul>
	{% if attention %}
		<div class="alert alert-info">
			<i class="fa fa-info-circle"></i>
			{{ attention }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	{% endif %}
	{% if success %}
		<div class="alert alert-success alert-dismissible">
			<i class="fa fa-check-circle"></i>
			{{ success }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	{% endif %}
	{% if error_warning %}
		<div class="alert alert-danger alert-dismissible">
			<i class="fa fa-exclamation-circle"></i>
			{{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	{% endif %}
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<h1>{{ heading_title }}
				{% if weight %}
					&nbsp;({{ weight }})
				{% endif %}
			</h1>
			<form action="{{ action }}" method="post" enctype="multipart/form-data">
				<div class="table-responsive">
					<table class="table table-bordered">
						<thead>
							<tr>
								<td class="text-center">{{ column_image }}</td>
								<td class="text-left">{{ column_name }}</td>
								<td class="text-left">{{ column_model }}</td>
								<td class="text-left">{{ column_quantity }}</td>
								<td class="text-right">{{ column_price }}</td>
								<td class="text-right">{{ column_total }}</td>
							</tr>
						</thead>
						<tbody>

							{% for product in products %}
								<tr>
									<td class="text-center">
										{% if product.thumb %}
											<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-thumbnail"/></a>
										{% endif %}
									</td>
									<td class="text-left">
										<a href="{{ product.href }}">{{ product.name }}</a>
										{% if not product.stock %}
											<span class="text-danger">***</span>
										{% endif %}
										{% if product.option %}
											{% for option in product.option %}
												<br/>
												<small>{{ option.name }}:
													{{ option.value }}</small>
											{% endfor %}
										{% endif %}
										{% if product.reward %}
											<br/>
											<small>{{ product.reward }}</small>
										{% endif %}
										{% if product.recurring %}
											<br/>
											<span class="label label-info">{{ text_recurring_item }}</span>
											<small>{{ product.recurring }}</small>
										{% endif %}
									</td>
									<td class="text-left">{{ product.model }}</td>
									<td class="text-left">
										<div class="input-group btn-block" style="max-width: 200px;">
											<input type="text" name="quantity[{{ product.cart_id }}]" value="{{ product.quantity }}" size="1" class="form-control"/>
											<span class="input-group-btn">
												<button type="submit" data-toggle="tooltip" title="{{ button_update }}" class="btn btn-primary">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewbox="0 0 16 16">
														<path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
														<path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
													</svg>
												</button>
												<button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="cart.remove('{{ product.cart_id }}');">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewbox="0 0 16 16">
														<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
													</svg>
												</button>
											</span>
										</div>
									</td>
									<td class="text-right">{{ product.price }}</td>
									<td class="text-right">{{ product.total }}</td>
								</tr>
							{% endfor %}
							{% for voucher in vouchers %}
								<tr>
									<td></td>
									<td class="text-left">{{ voucher.description }}</td>
									<td class="text-left"></td>
									<td class="text-left">
										<div class="input-group btn-block" style="max-width: 200px;">
											<input type="text" name="" value="1" size="1" disabled="disabled" class="form-control"/>
											<span class="input-group-btn">
												<button type="button" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger" onclick="voucher.remove('{{ voucher.key }}');">
													<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewbox="0 0 16 16">
														<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
													</svg>
												</button>
											</span>
										</div>
									</td>
									<td class="text-right">{{ voucher.amount }}</td>
									<td class="text-right">{{ voucher.amount }}</td>
								</tr>
							{% endfor %}
						</tbody>

					</table>
				</div>
			</form>
			{% if modules %}
				<h2>{{ text_next }}</h2>
				<p>{{ text_next_choice }}</p>
				<div class="panel-group" id="accordion">
					{% for module in modules %}
						{{ module }}
					{% endfor %}
				</div>
			{% endif %}
			<br/>
			<div class="row">
				<div class="col-sm-4 col-sm-offset-8">
					<table class="table table-bordered">
						{% for total in totals %}
							<tr>
								<td class="text-right">
									<strong>{{ total.title }}:</strong>
								</td>
								<td class="text-right">{{ total.text }}</td>
							</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="buttons clearfix">
				<div class="pull-left">
					<a href="{{ continue }}" class="btn btn-default">{{ button_shopping }}</a>
				</div>
				<div class="pull-right">
					<a href="{{ checkout }}" class="btn btn-primary">{{ button_checkout }}</a>
				</div>
			</div>
			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{{ footer }}
