{{ header }}
<div id="account-wishlist" class="container">
	<ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
			<li>
				<a style="" class="breadcrumb-item" href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a>
			</li>
		{% endfor %}
	</ul>
	{% if success %}
		<div class="alert alert-success alert-dismissible">
			<i class="fa fa-check-circle"></i>
			{{ success }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	{% endif %}
	<div class="row">{{ column_left }}
		{% if column_left and column_right %}
			{% set class = 'col-sm-6' %}
		{% elseif column_left or column_right %}
			{% set class = 'col-sm-9' %}
		{% else %}
			{% set class = 'col-sm-12' %}
		{% endif %}
		<div id="content" class="{{ class }}">{{ content_top }}
			<h2>{{ heading_title }}</h2>
			{% if products %}
				<div class="table-responsive">
					<table class="table table-bordered table-hover">
						<thead>
							<tr>
								<td class="text-center">{{ column_image }}</td>
								<td class="text-left">{{ column_name }}</td>
								<td class="text-left">{{ column_model }}</td>
								<td class="text-right">{{ column_stock }}</td>
								<td class="text-right">{{ column_price }}</td>
								<td class="text-right">{{ column_action }}</td>
							</tr>
						</thead>
						<tbody>

							{% for product in products %}
								<tr>
									<td class="text-center">
										{% if product.thumb %}
											<a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}"/></a>
										{% endif %}
									</td>
									<td class="text-left">
										<a href="{{ product.href }}">{{ product.name }}</a>
									</td>
									<td class="text-left">{{ product.model }}</td>
									<td class="text-right">{{ product.stock }}</td>
									<td class="text-right">
										{% if product.price %}
											<div class="price">
												{% if not product.special %}
													{{ product.price }}
												{% else %}
													<b>{{ product.special }}</b>
													<s>{{ product.price }}</s>
												{% endif %}
											</div>
										{% endif %}
									</td>
									<td class="text-right">
										<button type="button" class="add-111" onclick="cart.add('{{ product.product_id }}');" data-toggle="tooltip" title="{{ button_cart }}" class="btn btn-primary">
											<svg xmlns="http://www.w3.org/2000/svg" width="13.5" height="12" fill="currentColor" class="bi bi-cart-fill" viewbox="0 0 16 16">
												<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
											</svg>
										</button>
										<a href="{{ product.remove }}" data-toggle="tooltip" title="{{ button_remove }}" class="btn btn-danger">
											<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle-fill" viewbox="0 0 16 16">
												<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
											</svg>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>

					</table>
				</div>
			{% else %}
				<p>{{ text_empty }}</p>
			{% endif %}
			<div class="buttons clearfix">
				<div class="pull-right">
					<a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a>
				</div>
			</div>
			{{ content_bottom }}</div>
		{{ column_right }}</div>
</div>
{{ footer }}
